<!DOCTYPE html>
<html ng-app='RBKme'>
  <head>
    <meta charset="utf-8" />
    <title>RBKme</title>

    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link rel="stylesheet" type="text/css" href="lib/angular-material/angular-material.css" />
    <link href="lib/angular-jk-rating-stars/dist/jk-rating-stars.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
  </head>
  <body ng-controller="mainCtrl">



  <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


    </div>
    <div ng-switch on="loggedIN" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
                <li>
                    <a  href="#/">Home</a>
                </li>
                 <li>
                    <a href="#/messages" ng-switch-when="true"> Messages</a>
                   
                </li>

                 <li>
                      <a href="#/blogs">Blogs</a>
        
                </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a  ng-click='signin($event)' ng-switch-when="false"> Login</a>  
        </li>
        <li>
          <a  ng-click='signout($evnet)' ng-switch-when="true"> Logout</a>  
        </li>
      </ul>
    </div>
</div>

  </div>
</div>


  <div class="container">
    <div class="text-center"></div>
  </div>
</div>
    <div ng-view class="examples"></div>
    <center ">
        <div style="color:white; width:2% ">
        </div>
    </center>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="lib/angular-jk-rating-stars/dist/jk-rating-stars.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="app/auth/auth.js"></script>
    <script src="app/blog/blog.js"></script>
    <script src="app/blog/newBlog.js"></script>
    <script src="app/messages/messages.js"></script>
    <script src="app/messages/newMsg.js"></script>
    <script src="app/messages/msgHistory.js"></script>
    <script src="app/home/home.js"></script>
    <script src="app/profile/profileEdit.js"></script>
    <script src="app/profile/profileView.js"></script>
    <script src="app/services/services.js"></script>
    <script src="uploadToImgur.js"></script>
    <script src="config/api_keys.js"></script>
    <script src="app/admin/admin.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>
