
.Btn {
   background-color: #B51A82;
    color: white;

}
.img-circle {
border-radius: 50%;


}

h3 {
  font-family:"Comic Sans MS", cursive, sans-serif ;
 
}

.banner { 

position: absolute;
top: 0px ;
left: 0px;
right: 0px;
width: 100%;
height: 200px;
z-index:-1;

 }



.hoverbox {
  list-style: none;

}

.hoverbox div {
  cursor: default;

}

.hoverbox div .preview {
  display: none;
}

.li-first div:hover img{
  -webkit-transition: all linear.5;
  -webkit-transform: scale(1.8);
  z-index: 2000;
  border: 3px solid #e6005c ;

}
.hoverbox li:hover .preview {
  display: block;
  position: absolute;
  top: -33px;
  left: -45px;
  z-index: 1;
}

.hoverbox img {
  background: #fff;
  border:1px solid #ddd;
  color: inherit;
  padding: 2px;
  vertical-align: top;
  width: 100px;
  height: 75px;

}

.hoverbox li {
  background: #eee;
  border:1px solid #ccc;
  color: inherit;
  display: inline;
  float: left;
  margin: 3px;
  padding: 5px;
  position: relative;


}

.hoverbox .preview {
  border-color: #000;
  width: 200px;
  height: 150px;
}


TMLJSCSSDIALOG1.TMPL.HTMLTABDIALOG.TMPL.HTMLHTMLJSCSSDIALOG1.TMPL.HTMLTABDIALOG.TMPL.HTML
.dialogBasicUsage #popupContainer {
  position: relative; }
.dialogBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogBasicUsage .footer, .dialogBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
.dialogBasicUsage button {
  width: 200px; }
.dialogBasicUsage div#status {
  color: #c60008; }
.dialogBasicUsage .dialog-prerendered md-checkbox {
  margin-bottom: 0; }
.profilePic {
	width: 100%;
}
.profileInfo {
  float: left;
}
.editLabel {
  width: 30%;
  float: left;
}
.editInput {
  width: 50%;
  float: left;
}
.myPasswordLabel {
  width: 80%;
}
.myPasswordInput {
  width: 80%;
}
.blog {
  width: 80%;
}
.blogInfo {
  width: 90%;
}
.st_thumbs{
    height: 0;
    margin: 0;
}
.st_thumbs img{
    float:left;
    margin:3px  3px 0px 0px;
    cursor:pointer;
  -moz-box-shadow:1px 1px 5px #000;
  -webkit-box-shadow:1px 1px 5px #000;
  box-shadow:1px 1px 5px #000;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.st_thumbs img:hover{
  opacity:1;
}
.st_thumbs_wrapper {
  height: 10%;
}
.examples {
  background: #ddd;
  margin-bottom: 2em;
  overflow: hidden;
  padding: 0;
  position: relative;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}
.myBtn {
  background-color: #B51A82;
  color:white;
  margin-top: 5%;
  width: 80%;
}
.myToolbar {
  background-color: #B51A82;
}

.search {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #e6005c
;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

.search:focus {
    width: 100%;
    opacity:0.8

}

/*------------------------- Header ------------------------*/
.header {
  height:auto;
}
.header div {
  height:60px;
  margin:0 auto;
  width:960px;
}
.header div a#logo {
  float:left;
  margin:13px 0 0;
}
.header div ul {
  float: right;
    list-style: none outside none;
    margin: 21px 0 0;
    padding: 0;
}
.header div ul li:first-child {
  list-style:none;
}
.header div ul li {
  color:#fff;
  float:left;
  list-style-position:inside;
  list-style-type:disc;
  margin:0 0 0 10px;
  position:relative;
}
.header div ul li.selected a, .header div ul li a:hover {
  color:#fff;
}
.header div ul li a {
  color:black;
  font-family: 'forumregular';
  font-size:12px;
  letter-spacing:2px;
  text-decoration:none;
  text-transform:uppercase;
}
.header div ul li ul {
  height:auto;
  left:-99999px;
  margin:0 0 0 13px;
  position:absolute;
  z-index:1000;
}
.header div ul li:hover ul {
  left:0;
}
.header div ul li ul li:first-child {
  background-color:#black;
}
.msgPic {
  width: 15%;
}
.msgText {
  margin-top: 14%;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
