 <link rel="stylesheet" type="text/css" href="styles/button.css" />





<div ng-controller="MsgController" class="md-padding" ng-cloak style="height:200%;margin-top:10em;" >
    <div>
     <center>	<input class='search' type='text' ng-model='search' placeholder='filter'/> </center>
     	<ul>
        <li><a ng-click="sendMsg($event)" value="new Message" class="round green">Add<span class="round">add your message here</span></a></li>
 
        </ul> 
     	<br><br><br><br>

        <div>
     	<div class="MsgdFriend" id='parent'>
	        <div id='wide'
	            ng-repeat="user in data.users | filter:search">

               <img id='narrow' src="{{user.image}}" class="msgPic img-circle" style="height:50px ; width:50px;" ng-click="showHistory($event,user)" value={{user.image}} />
		      <!-- 	<input type="button" class="btn myBtn" style="width: 20%;" ng-click="showHistory($event,user)" value="{{user.firstName + ' ' + user.lastName}}"/> -->
		      	</div>
    		</div>
    	</div>
	</div>
</div>




