

<md-dialog aria-label="Msg"  ng-cloak style='height: 1000px;width: 1200px'>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools myToolbar">
        <span flex></span>
      </div>
    </md-toolbar>
    <br>
    <md-dialog-content>

        <h4>
   
        <div >
          <select class='custom-dropdown' ng-model="msg.to">
            <option  ng-repeat="friend in friends | filter:search"  value="{{friend.username}}">{{friend.firstName + ' ' + friend.lastName}}</option>
          </select>
        </div>


        <div>
          <br><br>
            <textarea rows="10" cols="60" name="text" ng-model="msg.text" placeholder="Enter your content here"
           value="{msg.msg}" class="editInput"> 
           </textarea><br><br>
        </div>
        <div>
          <br>
          <label ng-show="filled===false" ng-hide="filled===true" style="color:red;">{{errorMsg}}</label>
        </div>
        </h4>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer()">
       Send
      </md-button>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
