<md-dialog aria-label="Profile"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools myToolbar">
        <span flex></span>
      </div>
    </md-toolbar>
    <br>
    <md-dialog-content>
      <div class="col-lg-1 col-md-0 col-sm-0"></div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <img src="{{user.image}}" class="profilePic img-circle">
      </div>
      <div class="col-lg-1 col-md-0 col-sm-0"></div>
      <div class="md-dialog-content profileInfo col-lg-6 col-md-6 col-sm-6">
        <h3>Name: {{user.firstName}} {{user.lastName}}</h3>
        <h3>Age: {{user.age}}</h3>
        <h3>Email: {{user.email}}</h3>
        <h3>GitHub: {{user.gitHub}}</h3>
        <h3>Cohort Number: {{user.cohortNumber || "-"}}</h3>
        <h3>Employed: {{career}}</h3>
        <h3>About: {{user.About || "-"}}</h3>
        <h3>Pair Reflect :  {{user.average}}/10 from {{user.counter}} students.
        <jk-rating-stars 
          ng-show="Rating"
          max-rating="5" 
          rating="secondRate" 
          on-rating="onItemRating(rating)">
        </jk-rating-stars>
        </h3>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('Edit')" ng-show="sameUser()===true" ng-hide="sameUser()===false">
       Edit Profile
      </md-button>
      <md-button ng-click="cancel()">
       Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>