
<div style="background-color:pink ; height:500px" ng-controller="HomeController" class="md-padding" id="popupContainer" ng-cloak>
   <center> <div >
     	<input class='search' type='text' ng-model='search' placeholder='search' /><br><br>
    </div> </center>
    

   <center> <div style="padding: 4em" class="st_thumbs_wrapper li-first ">
     <div class="st_thumbs "
            ng-repeat="user in data.users | filter:search">

            <img ng-if="user.username!=='admin'" ng-src="{{user.image}}" ng-click="showProfile($event,user)" style="width:20%">

            <br><br>
    	</div> <center>
    </div>
</div>

