<div ng-controller="BlogController" class="md-padding" ng-cloak>
    <div>
     	<input type='text' ng-model='search' placeholder='filter'/>
     	<input type="button" class="btn myBtn" ng-click="addPost($event)" 
     	ng-show="auth()===true" ng-hide="auth()===false" value="Add Post"/>
     	<br><br><br><br>
     	<div class="blogs">
	        <div class="blog row"
	            ng-repeat="blog in data.blogs | filter:search">
		        <div class="col-lg-1 col-md-0 col-sm-0"></div>
		      	<div class="col-lg-3 col-md-3 col-sm-6">
		        	<img src="{{blog.image}}" class="profilePic img-circle"><br><br><br><br>
		      	</div>
		      	<div class="col-lg-1 col-md-0 col-sm-0"></div>
		      	<div class="blogInfo col-lg-7 col-md-8 col-sm-6">
		      		<h3>{{blog.name}}</h3>
			        <h3>{{blog.title}}</h3>
			        <h3>{{blog.blog}}</h3>
		      	</div>
    		</div>
    	</div>
	</div>
</div>


